<!DOCTYPE html>
<html xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<meta charset="UTF-8">
<title>Cadastrar Shows</title>
</head>
<body>


	<section layout:fragment="conteudo">

		<table class="table mover_tabela">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Casa de Show</th>
					<th scope="col">Logradouro</th>
					<th scope="col">Cidade</th>
					<th scope="col">Estado</th>
					<th scope="col">Edição</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="casa : ${casas}">
					<td th:text="${casa.code}"></td>
					<td th:text="${casa.casa}"></td>
					<td th:text="${casa.logradouro}"></td>
					<td th:text="${casa.cidade}"></td>
					<td th:text="${casa.estado}"></td>
					<td>
					<a class="btn btn-link btn-xs" th:href="@{/casa/{code}(code=${casa.code})}"><img src="/icone/pencil-2x.png" ></a>
					<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"><img src="/icone/x-2x.png"></a>
					</td>
					
				</tr>

				<tr>

					<td colspan="5">Nenhuma casa foi encontrada</td>

				</tr>

			</tbody>
		</table>
		<div layout:insert="CaixaConfimarcaoExclusao"></div>
	</section>

</body>
</html>



