<!DOCTYPE html>
<html xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<meta charset="UTF-8">
<title>Cadastrar Shows</title>
</head>
<body>


	<section layout:fragment="conteudo">

		<table class="table mover_tabela">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Casa de Show</th>
					<th scope="col">Logradouro</th>
					<th scope="col">Cidade</th>
					<th scope="col">Estado</th>
					
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
					<td>@mdo</td>
					
				</tr>
			
			</tbody>
		</table>
	</section>

</body>
</html>



