<!DOCTYPE html>
<html xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<meta charset="UTF-8">
<title>Cadastrar Shows</title>
</head>
<body>


	<section layout:fragment="conteudo">
	
		<form class="mover_formulario">
			<div class="form-group col-md-4">
				<label for="formGroupExampleInput">Show</label> 
				<input type="text"
					class="form-control" id="formGroupExampleInput"
					placeholder="Insira o evento" name="data">
			</div>
			<div class="form-group col-md-4">
				<label for="formGroupExampleInput2">Capacidade</label> 
				<input
					type="text" class="form-control" id="formGroupExampleInput2"
					placeholder="Insira quantas pessoas a casa suporta" name="capacidade">
			</div>
			<div class="form-group col-md-4">
				<label for="formGroupExampleInput2">Valor do Ingresso</label> 
				<input
					type="text" class="form-control" id="formGroupExampleInput2"
					placeholder="Insira o valor do ingresso" name="valor">
			</div>
			<div class="form-group col-md-2">
				<label for="inputState">Localidade</label> <select id="inputState"
					class="form-control">
					<option selected>Escolha</option>
					<option>...</option>
				</select>
			</div>
			<div class="form-group col-md-2">
				<label for="inputState">Estilo musical</label> <select
					id="inputState" class="form-control">
					<option selected>Escolha</option>
					<option>...</option>
				</select>
			</div>
		</form>


		<table class="table mover_tabela">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Show</th>
					<th scope="col">Capacidade</th>
					<th scope="col">Valor</th>
					<th scope="col">Localidade</th>
					<th scope="col">Estilo</th>
					<th scope="col">Editar</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>
				</tr>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>
				</tr>
			</tbody>
		</table>
	</section>

</body>
</html>